body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
    transition: 0.4s;
}

header {
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

/* MODE SOMBRE */
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .card {
    background: #1e1e1e;
}

/* SWITCH */
.switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.slider {
    position: absolute;
    background: #ccc;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
